#signup-form{
    display: flex;
}
 
#signup-form  .form{
    position: relative;
    flex-direction: column;
    width: 48%;
    margin: 10px auto;
}
.form_title {
    text-align: center;
    line-height: 25px;
    background: #4a4a4a;
    border-radius: 10px;
    color: #fff;
}
.signup-form{
    padding-right: 20px;
    border-right: 1px solid #b2a7aa;
}